screen-xs-min = 768px


// solarized color theme
solarized-base03  = #002b36
solarized-base02  = #073642
solarized-base01  = #586e75
solarized-base00  = #657b83
solarized-base0   = #839496
solarized-base1   = #93a1a1
solarized-base2   = #eee8d5
solarized-base3   = #fdf6e3
solarized-yellow  = #b58900
solarized-orange  = #cb4b16
solarized-red     = #dc322f
solarized-magenta = #d33682
solarized-violet  = #6c71c4
solarized-blue    = #268bd2
solarized-cyan    = #2aa198
solarized-green   = #859900



// light-bg = #e9eaed
// light-bg-accent1 = darken(light-bg, 10%)
light-bg = solarized-base3
light-bg-accent1 = solarized-base2
light-bg-accent2 = solarized-base1
light-bg-accent3 = solarized-base0

light-fg = solarized-base00
light-fg-muted = solarized-base1

// dark-bg = #444
// dark-bg-accent1 = #555
// dark-bg-accent2 = #666
// dark-bg-accent3 = #888

dark-bg = solarized-base03
dark-bg-accent1 = solarized-base02
dark-bg-accent2 = solarized-base01
dark-bg-accent3 = solarized-base00

dark-fg = solarized-base1
dark-fg-muted = solarized-base01
