@import '_vars'


html, body
    height 100%
    background light-bg
    text-rendering optimizeLegibility

.wrapper, .column
    &:after
        clear both

    &:before, &:after
        content ''
        display table

.wrapper, .box > .row
    margin-left 0
    margin-right 0

    @media screen and (min-width: screen-xs-min)
        height 100%

.column
    height 100%
    overflow auto
    *zoom 1

.full
    padding 20px 15px 15px;
    float left
    position relative
    min-height 1px
    width 100%

    @media screen and (min-width: screen-xs-min)
        padding-top 70px

.box
    position absolute
    top 0
    bottom 0
    left 0
    right 0

.navbar
    border-width 0
    top 0
    position relative
    width 100%

    @media screen and (min-width: screen-xs-min)
        position fixed
        width inherit

    .navbar-brand
        color #fff !important
        margin 0

#sidebar
    background dark-bg
    color light-bg
    padding 15px

    @media screen and (min-width: screen-xs-min)
        padding 8px

    .search-form
        margin-top 1em


#main
    padding-left 0
    padding-right 0
