<form class="search-form" role="search">
    <div class="form-group">
        <label class="sr-only control-label">Search</label>
        <div class="input-group">
            <input type="search" name="search" class="form-control search" tabindex="1" placeholder="Search<%= (typeof type !== 'undefined' && type) ? ' ' + type : '' %>&hellip;">
            <span class="input-group-btn">
                <button class="btn btn-default btn-reset" type="reset" tabindex="3">
                    <i class="glyphicon glyphicon-remove"></i>
                    <span class="sr-only">Clear</span>
                </button>
                <button class="btn btn-primary" tabindex="2" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                    <span class="sr-only">Search</span>
                </button>
            </span>
        </div>
    </div>
</form>
<div class="list-group search-results"></div>
