/*/*/bin/
/*/*/target/
*~
*.bak

/bundles/edu.tamu.tcat.dh.sda.catalog.editor.web/build/
/bundles/edu.tamu.tcat.dh.sda.catalog.editor.web/web/
/bundles/edu.tamu.tcat.dh.sda.catalog.editor.web/releng/bower_components/
/bundles/edu.tamu.tcat.dh.sda.catalog.editor.web/releng/node_modules/
