/*/*/bin/
/*/*/target/
*~
*.bak

/bundles/edu.tamu.tcat.dh.sda.catalog.editor.web/build/
/bundles/edu.tamu.tcat.dh.sda.catalog.editor.web/dist/
/bundles/edu.tamu.tcat.dh.sda.catalog.editor.web/releng/node_modules/
