<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.tamu.tcat.catalogentries.relationships.types">
      <relationship_type
            identifier="uk.ac.ox.bodleian.sda.relationships.influence"
            is_directed="true"
            reverse_title="Influenced By"
            title="Influenced">
      </relationship_type>
      <relationship_type
            identifier="uk.ac.ox.bodleian.sda.relationships.provoked"
            is_directed="true"
            reverse_title="Provoked By"
            title="Provoked">
      </relationship_type>
      <relationship_type
            identifier="uk.ac.ox.bodleian.sda.relationships.consonance"
            is_directed="false"
            title="Consonance">
      </relationship_type>
      <relationship_type
            description="Two (or more) works appear to be directly related but there is no explicitly stated dependency. "
            identifier="uk.ac.ox.bodleian.sda.relationships.patternmatch"
            is_directed="false"
            title="Possible Pattern Match">
      </relationship_type>
   </extension>

</plugin>
