<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">Display Date</label>
            <input type="text" name="display" class="form-control display">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">Date Value</label>
            <input type="date" name="value" class="form-control date-value">
            <p class="help-block"></p>
        </div>
    </div>
</div>
