<div class="page-header">
    <h1>Add Work</h1>
</div>
<fieldset>
    <legend>Primary Authors</legend>
    <div class="author-forms"></div>
    <div class="btn-row">
        <button class="btn btn-success btn-sm add-primary-author" type="button">
            <span class="glyphicon glyphicon-plus"></span>
            Add Author
        </button>
    </div>
</fieldset>

<fieldset>
    <legend>Work Title</legend>
    <div class="title-form"></div>
</fieldset>

<fieldset>
    <legend>Other Authors</legend>
    <div class="other-author-forms"></div>
    <div class="btn-row">
        <button class="btn btn-success btn-sm add-other-author" type="button">
            <span class="glyphicon glyphicon-plus"></span>
            Add Author
        </button>
    </div>
</fieldset>

<fieldset>
    <legend>Publication Information</legend>
    <div class="pub-info-form"></div>
</fieldset>

<div class="form-group"><label class="control-label">Series</label><input type="text" name="series" class="form-control series"></div>
<div class="form-group"><label class="control-label">Summary</label><textarea name="summary" rows="10" class="form-control summary"></textarea></div>
