<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">Publisher</label>
            <input type="text" name="publisher" class="form-control publisher">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">Place</label>
            <input type="text" name="place" class="form-control place">
        </div>
    </div>
</div>

<div class="date-form"></div>
