<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Canonical Title</h3>
    </div>
    <div class="panel-body canonical-title-form"></div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Short Title</h3>
    </div>
    <div class="panel-body short-title-form"></div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Alternate Titles</h3>
    </div>
    <div class="panel-body alternate-title-forms"></div>
    <div class="panel-footer text-right">
        <button type="button" class="btn btn-sm btn-success add-alternate-title">
            <span class="glyphicon glyphicon-plus"></span>
            Add Title
        </button>
    </div>
</div>
