@import '_vars'

.full > .page-header:first-child
    margin-top 0

.page-header
    border-bottom-color light-bg-accent1

#content .jumbotron
    background light-bg-accent1
    margin: auto -15px

.form-control
    padding 2px

legend
    border-bottom-color darken(light-bg-accent1, 5%)


#sidebar
    hr
        border-color dark-bg-accent1

    .nav-tabs
        border-color dark-bg-accent2

    .nav > li
        > a
            color dark-fg-muted
            outline none

            &:hover, &:focus
                border-color dark-bg-accent1 dark-bg-accent1 dark-bg-accent2
                background dark-bg-accent1

        &.active > a
            &, &:hover, &:focus
                color dark-fg
                background dark-bg
                border-color dark-bg-accent2 dark-bg-accent2 transparent

    .list-group .list-group-item
        background-color transparent
        border 1px solid dark-bg-accent2
        color dark-fg

        &:hover, &:active, &:focus
            background-color dark-bg-accent1
            color dark-fg-emph
            outline 0
