@import '_vars'
@import 'layout'
@import 'bootstrap_overrides'
@import 'radial_progress'
@import 'login'


#new-button .dropdown-menu
    width 100%
    background lighten(dark-bg-accent1, 5%)
    border-color rgba(dark-bg, 0.7)
    box-shadow 0 6px 12px rgba(dark-bg, 0.7)

    > li > a
        color #fff
        padding 8px 15px

        &:hover
            background dark-bg-accent2


.autocomplete
    position relative

    ul
        margin 0
        padding 0
        list-style none
        position absolute
        left 0
        right 0
        background #fff
        box-shadow 0 3px 5px rgba(black, 0.5)
        border 1px solid #ddd
        z-index 9999

        li
            padding 5px
            cursor default

            &:hover, &.hover
                background #428bca
                color #fff


.form-button-fixed
    position absolute
    right 15px
    z-index 9999

    @media screen and (min-width: screen-xs-min)
        position fixed
        top 8px


textarea.noresize
    resize none


.btn-row
    margin 1em 0
    text-align right
