<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="edu.tamu.tcat.sda.rest.throwablemapper">
   <implementation class="edu.tamu.tcat.trc.services.rest.ThrowableExceptionMapper"/>
   <service>
      <provide interface="edu.tamu.tcat.trc.services.rest.ThrowableExceptionMapper"/>
   </service>
</scr:component>
