<input type="hidden" name="title" id="title"  class="form-control" value="<%= model.title %>">

<%/*
<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control" ><%= model.description %></textarea>
</div>
 */%>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="eventDate">Date (mm/dd/yyyy)</label>
            <input type="date" name="eventDate" id="eventDate"  class="form-control" value="<%= model.eventDate ? moment(model.eventDate).format('MM/DD/YYYY') : '' %>">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" name="location" id="location"  class="form-control" value="<%= model.location %>">
        </div>
    </div>
</div>
