<fieldset>
    <legend>Name</legend>

    <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control name" type="text" name="name">
    </div>

    <div class="row">
        <div class="col-sm-1">
            <div class="form-group">
                <label class="control-label">Title</label>
                <input class="form-control title" type="text" name="title">
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-xs-5">
                    <div class="form-group">
                        <label class="control-label">Given</label>
                        <input class="form-control given-name" type="text" name="given-name">
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label class="control-label">Middle</label>
                        <input class="form-control middle-name" type="text" name="middle-name">
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="form-group">
                        <label class="control-label">Family</label>
                        <input class="form-control family-name" type="text" name="family-name">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <label class="control-label">Suffix</label>
                <input class="form-control suffix" type="text" name="suffix">
            </div>
        </div>
    </div>
</fieldset>
