<div id="personNameRefForms"></div>

<div class="row">
    <div class="col-md-6">
        <fieldset>
            <legend>Date of Birth</legend>
            <div id="birthForm"></div>
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset>
            <legend>Date of Death</legend>
            <div id="deathForm"></div>
        </fieldset>
    </div>
</div>

<div class="form-group">
    <label class="control-label">Summary</label>
    <textarea name="summary" class="summary form-control" rows="10"></textarea>
</div>

<div class="btn-row">
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>
        Save
    </button>
</div>
