<div class="form-group">
    <label class="control-label sr-only">Search</label>
    <div class="input-group">
        <input type="search" name="search" class="form-control search" placeholder="search">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-search"></span>
                <span class="sr-only">Search</span>
            </button>
        </span>
    </div>
</div>
