
/* line 62 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\style.styl */

/* line 1 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 297 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 14 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\index.styl */

/* line 14 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\index.styl */

/* line 2 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\border.styl */

/* line 12 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\border.styl */

/* line 2 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\clearfix.styl */

/* line 30 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\clearfix.styl */

/* line 2 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\flex.styl */

/* line 197 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\flex.styl */

/* line 92 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\gradients.styl */

/* line 92 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\gradients.styl */

/* line 92 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 12 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 2 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\iconic.styl */

/* line 9 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\iconic.styl */

/* line 2 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\image.styl */

/* line 27 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\image.styl */

/* line 27 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\overflow.styl */

/* line 21 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\positions.styl */

/* line 67 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\positions.styl */

/* line 3 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\reset.styl */

/* line 79 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\reset.styl */

/* line 6 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\index.styl */

/* line 6 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\index.styl */

/* line 2 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\aliases.styl */

/* line 14 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\aliases.styl */

/* line 2 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 10 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 1 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line 3 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line undefined : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\vendor.styl */

/* line 92 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\vendor.styl */

/* line 92 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 574 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 574 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\size.styl */

/* line 29 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\releng\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\size.styl */

/* line 1 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\_vars.styl */

/* line 48 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\_vars.styl */

/* line 75 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */

/* line 29 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */

/* line 1 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\_vars.styl */

/* line 4 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
html,
body {
  height: 100%;
  background: #fdf6e3;
  text-rendering: optimizeLegibility;
}

/* line 9 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */

/* line 10 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
.wrapper:after,
.column:after {
  clear: both;
}

/* line 13 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
.wrapper:before,
.column:before,
.wrapper:after,
.column:after {
  content: '';
  display: table;
}

/* line 17 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
.wrapper,
.box > .row {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (min-width: 768px) {

/* line 21 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
  .wrapper,
  .box > .row {
    height: 100%;
  }
}

/* line 24 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
.column {
  height: 100%;
  overflow: auto;
  *zoom: 1;
}

/* line 29 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
.full {
  padding: 20px 15px 15px;
  float: left;
  position: relative;
  min-height: 1px;
  width: 100%;
}
@media screen and (min-width: 768px) {

/* line 36 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
  .full {
    padding-top: 70px;
  }
}

/* line 39 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
.box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 46 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
.navbar {
  border-width: 0;
  top: 0;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {

/* line 52 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
  .navbar {
    position: fixed;
    width: inherit;
  }
}

/* line 56 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
.navbar .navbar-brand {
  color: #fff !important;
  margin: 0;
}

/* line 60 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
#sidebar {
  background: #002b36;
  color: #fdf6e3;
  padding: 15px;
}
@media screen and (min-width: 768px) {

/* line 65 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
  #sidebar {
    padding: 8px;
  }
}

/* line 68 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
#sidebar .search-form {
  margin-top: 1em;
}

/* line 72 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\layout.styl */
#main {
  padding-left: 0;
  padding-right: 0;
}

/* line 75 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\_vars.styl */

/* line 51 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */

/* line 29 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */

/* line 1 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\_vars.styl */

/* line 3 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */
.full > .page-header:first-child {
  margin-top: 0;
}

/* line 6 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */
.page-header {
  border-bottom-color: #eee8d5;
}

/* line 9 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */
#content .jumbotron {
  background: #eee8d5;
  margin: auto -15px;
}

/* line 13 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */
.form-control {
  padding: 2px;
}

/* line 16 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */
legend {
  border-bottom-color: #e8dfc5;
}

/* line 20 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */

/* line 21 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */
#sidebar hr {
  border-color: #073642;
}

/* line 24 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */
#sidebar .nav-tabs {
  border-color: #586e75;
}

/* line 27 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */

/* line 28 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */
#sidebar .nav > li > a {
  color: #586e75;
  outline: none;
}

/* line 32 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */
#sidebar .nav > li > a:hover,
#sidebar .nav > li > a:focus {
  border-color: #073642 #073642 #586e75;
  background: #073642;
}

/* line 36 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */

/* line 37 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */
#sidebar .nav > li.active > a,
#sidebar .nav > li.active > a:hover,
#sidebar .nav > li.active > a:focus {
  color: #839496;
  background: #002b36;
  border-color: #586e75 #586e75 transparent;
}

/* line 42 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */
#sidebar .list-group .list-group-item {
  background-color: transparent;
  border: 1px solid #586e75;
  color: #839496;
}

/* line 47 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\bootstrap_overrides.styl */
#sidebar .list-group .list-group-item:hover,
#sidebar .list-group .list-group-item:active,
#sidebar .list-group .list-group-item:focus {
  background-color: #073642;
  color: #93a1a1;
  outline: 0;
}

/* line 51 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\_vars.styl */

/* line 75 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */

/* line 29 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */

/* line 1 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\_vars.styl */

/* line 3 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login {
  background: #fdf6e3;
  color: #657b83;
}

/* line 7 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login header {
  background: transparent !important;
  text-align: center;
}

/* line 11 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login hr.thick {
  border: 20px solid transparent;
  width: 75%;
  margin: 30px auto;
}

/* line 16 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login hr.thick.top {
  border-top-width: 0;
  border-bottom-color: #93a1a1;
  margin-top: 0;
}

/* line 21 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login hr.thick.bottom {
  border-bottom-width: 0;
  border-top-color: #93a1a1;
  margin-bottom: 0;
}

/* line 26 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login #login-container {
  background: #002b36;
  color: #839496;
  -webkit-box-shadow: inset 0 0 8px #000;
  box-shadow: inset 0 0 8px #000;
}

/* line 31 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login #login-container a {
  color: #2aa198;
}

/* line 34 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login #login-form {
  max-width: 330px;
  margin: 0 auto;
  padding: 30px;
}

/* line 39 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login #login-form h1 {
  margin-top: 0;
}

/* line 42 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login #login-form .form-group {
  margin: 0;
}

/* line 45 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login #login-form #username {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 49 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login #login-form #password {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 53 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login #login-form #username,
body#login #login-form #password {
  padding: 6px 12px;
  background: #073642;
  color: #93a1a1;
  border-color: #002b36;
}

/* line 59 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login #login-form #username:focus,
body#login #login-form #password:focus {
  border-color: #586e75;
}

/* line 62 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login #login-form ::-webkit-input-placeholder,
body#login #login-form :-moz-placeholder,
body#login #login-form ::-moz-placeholder,
body#login #login-form :-ms-input-placeholder {
  color: #586e75;
}

/* line 65 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login #login-form .btn-row {
  margin: 15px 0 0;
}

/* line 68 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login #login-form .btn-row-sm {
  margin: 5px 0 0;
}

/* line 71 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\login.styl */
body#login footer {
  text-align: center;
  padding: 48px 0;
  color: #93a1a1;
}

/* line 7 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\style.styl */
#new-button .dropdown-menu {
  width: 100%;
  background: #094656;
  border-color: rgba(0,43,54,0.7);
  -webkit-box-shadow: 0 6px 12px rgba(0,43,54,0.7);
  box-shadow: 0 6px 12px rgba(0,43,54,0.7);
}

/* line 13 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\style.styl */
#new-button .dropdown-menu > li > a {
  color: #fff;
  padding: 8px 15px;
}

/* line 17 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\style.styl */
#new-button .dropdown-menu > li > a:hover {
  background: #586e75;
}

/* line 21 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\style.styl */
.autocomplete {
  position: relative;
}

/* line 24 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\style.styl */
.autocomplete ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  border: 1px solid #ddd;
  z-index: 9999;
}

/* line 36 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\style.styl */
.autocomplete ul li {
  padding: 5px;
  cursor: default;
}

/* line 40 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\style.styl */
.autocomplete ul li:hover,
.autocomplete ul li.hover {
  background: #428bca;
  color: #fff;
}

/* line 45 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\style.styl */
.form-button-fixed {
  position: absolute;
  right: 15px;
  z-index: 9999;
}
@media screen and (min-width: 768px) {

/* line 50 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\style.styl */
  .form-button-fixed {
    position: fixed;
    top: 8px;
  }
}

/* line 55 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\style.styl */
textarea.noresize {
  resize: none;
}

/* line 59 : C:\dev\git\sda.editor\bundles\edu.tamu.tcat.dh.sda.catalog.editor.web\src\stylus\style.styl */
.btn-row {
  margin: 1em 0;
  text-align: right;
}
