<div class="form-button-fixed">
    <button type="submit" class="btn btn-primary save-button">
        <i class="glyphicon glyphicon-save"></i>
        Save
    </button>
    <button type="submit" class="btn btn-success save-new-button">
        <i class="glyphicon glyphicon-plus-sign"></i>
        Save &amp; New
    </button>
</div>

<div class="name-forms"></div>

<div class="row">
    <div class="col-md-6">
        <fieldset>
            <legend>Date of Birth</legend>
            <div class="birth-form"></div>
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset>
            <legend>Date of Death</legend>
            <div class="death-form"></div>
        </fieldset>
    </div>
</div>

<div class="form-group">
    <label class="control-label">Summary</label>
    <textarea name="summary" class="summary form-control" rows="10"></textarea>
</div>
