<div class="jumbotron">
    <h1>Special Divine Action</h1>
    <p class="lead">
        Cataloguing the writings of philosophers and thinkers throughout history.
    </p>
</div>

<h2>Welcome</h2>
<p>Begin your quest by selecting an action from the <span class="hidden-sm hidden-md hidden-lg">toobox below</span><span class="sr-only">or</span><span class="hidden-xs">sidebar at left</span>.</p>
